name: Create release artifacts

on:
  release:
    types: [published]
  push:
    branches: [main]

jobs:
  package:
    runs-on: ubuntu-latest
    strategy:
      matrix:
#        target: [es2015, es2016, es2017, es2018, es2019, es2020, es2021, es2022, esnext]
        target: [es2021, es2022]
#        module: [commonjs, es2015, es2020, es2022]
        module: [es2020, es2022]
    steps:
      - name: Install packages
        run: npm install typescript
      - name: Checkout source
        uses: actions/checkout@v3
      - id: build
        name: Build ${{ matrix.target }}/${{ matrix.module }}
        uses: ./.github/actions/build
        with:
          target: ${{ matrix.target }}
          module: ${{ matrix.module }}
      - name: Package
        run: |
          cp ./src/*.ts "${{ steps.build.outputs.build-path }}"/
          cd "${{ steps.build.outputs.build-path }}"
          tar -czf datetime-js-${{ matrix.target }}-${{ matrix.module }}.tar.gz *
          cd -
          mv "${{ steps.build.outputs.build-path }}/datetime-js-${{ matrix.target }}-${{ matrix.module }}.tar.gz" ./
